
{{ define "main" }}

{{ if eq .Kind "term" }}

<h1>#{{ .Title | strings.ToLower }}</h1>
{{ end }}

{{ if eq .Kind "taxonomy" }}
<h1>{{ .Title }}</h1>
<ul>
  {{ range .Site.Taxonomies.tags }}
  <li>
    <a href="{{ .Page.RelPermalink }}">#{{ .Page.Title | strings.ToLower }}</a>
  </li>
  {{end}}
</ul>
{{ else }}

{{ .Content }}
<script src="/js/search_bar.js"></script>

{{ range .Pages }}
  <article class="post-preview" id="{{.File}}">
    
    {{if eq .Draft true }}
      <h2 class="post-preview__title">📝 <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ else }}
      <h2 class="post-preview__title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{end}}

    {{partial "post_description.html" .}}
  </article>
{{ end }}

{{ end }}
{{ end }}