
{{ define "main" }}

{{ if eq .Kind "term" }}

<h1>#{{ .Title | strings.ToLower }}</h1>
{{ end }}

{{ if eq .Kind "taxonomy" }}
<h1>{{ .Title }}</h1>
<ul>
  {{ range .Site.Taxonomies.tags }}
  <li>
    <a href="{{ .Page.RelPermalink }}">#{{ .Page.Title | strings.ToLower }}</a>
  </li>
  {{end}}
</ul>
{{ else }}
{{ .Content }}

{{ range .Pages }}
<article id="{{.File}}">

  {{if eq .Draft true }}
  <h2>📝 <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ else }}
  <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{end}}
  {{if eq .Type "blog" }}
  {{partial "post_description.html" .}}
  {{end}}
</article>
{{ end }}

{{ end }}
{{ end }}