header {
    padding-bottom: 15px;
    padding-top: 15px;
    img {
        height: 30px;
        width: 30px;
        margin: 0;
    }
}

.friend-button {
    height: 31px;
    width: 88px;
    margin-right: 5px;
    margin-bottom: 0px;
}

blockquote {
    p {
        font-style: italic
    }
    padding: 1rem 1.5rem 1rem 1.5rem;
}

article {
    p {
        margin-bottom: 0 !important;
    }

    section.post-meta {
        margin-left: 10px;
        margin-bottom: 0px;
        sub {
            margin-right: 10px;
        }
    }

}

section.navigator{
    a {
        margin-top: 10px;
    }
    display: flex;
    justify-content: space-between;
}

footer {
    hr {
        margin-bottom: 0;
    }

    sub {
        margin-right: 10px;
        font-style: italic;
    }
}

main {
    pre {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 6px;
        margin-top: 6px;
    }
}