@media (prefers-color-scheme:dark) {
    :root {
        /* Alternative colours for new.css */
        --nc-bg-2: #1111116c;
        --nc-bg-3: #2222229d;
    }
}

header {
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;

    img.website-icon {
        height: 30px;
        width: 30px;
        margin: 0;
    }
}

body {
    background-image: url("/imgs/back.svg");
    background-color: #000000;
}

.friend-button {
    height: 31px;
    width: 88px;
    margin-right: 5px;
    margin-bottom: 0px;
}

blockquote.home-quote {

    .home-quote__quote,
    .home-quote__author {
        font-style: italic;
    }

    padding: 1rem 1.5rem;
}

.post-preview {
    .post-preview__description {
        margin-bottom: 0;
    }

    .post-preview__metadata {
        margin-left: 10px;
        margin-bottom: 0px;

        sup {
            margin-right: 10px;
        }
    }

}

.lastest-post {
    .post-preview__title {
        padding-top: 2px;
    }
}

.post__navigator {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

footer {
    hr {
        margin-bottom: 0;
    }

    sub.footer__item {
        margin-right: 10px;
        font-style: italic;
    }
}

main {
    pre {
        margin-bottom: 0;
    }

    p {
        margin: 6px 0px;
    }
}
